body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* form-page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-page{
  width: 100%;
  /* height: 100vh; */
}

.form-inner{
  max-width: 1320px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-width{
  margin-top: 50px;
  width: 550px;
  padding: 25px;
  border: 1px solid green;
  background: rgb(21, 63, 160);
  text-align: center;

}
.form-div-1{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.form-div p{
  color: rgb(204, 21, 21);
  text-align: left;
  padding-left: 12px;
  font-size: 20px;
  margin-bottom: 10px;
}
.form-div-1 label{
  width: 23%;
  color: white;
  font-size: 18px;
  display: block;
}
.form-div-1 input{
  width: 70%;
  height: 40px;
  padding-left: 10px;
  font-size: 19px;
  outline: none;
  border: none;
}
.save{
  padding:10px 24px;
  width: 80%;
  cursor: pointer;
  font-size: 20px;
  color: white;
  border: none;
  background: chocolate;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* viewData */
.viewData{
  width: 100%;
  padding: 50px 0px;
}
.view-inner{
  max-width: 1320px;
  margin: auto;
}
.tables{
  width: 100%;
}
.tables thead,tbody{
  text-align: center;
}
.tables thead, tbody, th, tr ,td{
  padding: 10px;
}
/* .tables tbody tr td{
  width: 100px;
} */
.BacktoHome{
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 24px;
  border: none;
  color: white;
  background-color: rgb(21, 61, 163);
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
}
.qrCode{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.qrCode button{
  margin-top: 10px;
  cursor: pointer;
}
.restore{
  padding: 6px 12px;
  cursor: pointer;
  margin-right: 10px;
  color: blue;
  border: none;
  background-color: grey;
}